# MongoDB Atlas Connection String
# Replace <USERNAME> with your MongoDB Atlas database user username
MONGODB_URI=mongodb+srv://<USERNAME>:ILHR4j9r6lLdnTXh@slr.b6ih1xk.mongodb.net/caim?retryWrites=true&w=majority
